name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy

    - name: Clean previous mlruns
      run: |
        rm -rf MLProject/mlruns

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-runs
        path: MLProject/mlruns

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image from MLflow model
      run: |
        cd MLProject

        RUN_ID=$(ls mlruns/*/*/meta.yaml | head -n 1 | awk -F'/' '{print $3}')
        echo "Using RUN_ID=$RUN_ID"

        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n ${{ secrets.DOCKERHUB_USERNAME }}/ai4i2020-mlflow-model

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/ai4i2020-mlflow-model
